#teampage {
  background-image: none;
  background-color: transparent;
}
#teampage .medium-12 {
  padding-top: 0;
}

/*********************
FANCY LAYOUT
*********************/

body.im_team_page .featherlight-loading { display: none !important; }
body.im_team_page .featherlight .featherlight-content {
    width: 85%;
    height: 85%;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}

form#teamfilter #drop-city {
  margin-bottom: 20px;
}
form#teamfilter #drop-city label {
  cursor: pointer;
  border: none;
  position: relative;
  background: #000;
  padding: 20px 10px;
  text-align: center;
  line-height: 1.5;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.25s ease-in-out;
}
form#teamfilter #drop-city label:hover {
  box-shadow: none;
  background: #323232;
}
form#teamfilter #drop-city label.on {
  background: #555;
}
form#teamfilter #drop-city label:first-child {
  margin-left: 0;
}
form#teamfilter #drop-city label:last-child {
  margin-right: 0;
}
form#teamfilter #drop-city label input {
  display: none;
}
form#teamfilter #drop-city label input+span {
  color: #fff;
  display: inline-block;
  position: relative;
}
form#teamfilter #next-step {
  display: none;
}
form#teamfilter #next-step ul#stylistSort {
  text-align: center;
  margin: 0 auto;
  display: table;
  padding-bottom: 10px;
}
form#teamfilter #next-step ul#stylistSort li {
  display: inline-block;
  text-align: center;
  margin: 10px 20px;
  vertical-align: top;
  transition: all 0.25s ease-in-out;
}
form#teamfilter #next-step ul#stylistSort li.on {
  border-top: 2px solid #555;
  margin-top: 8px;
}
form#teamfilter #next-step ul#stylistSort li h5 {
  color: #323232;
}
form#teamfilter #next-step ul#stylistSort li label {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1rem;
}
form#teamfilter #next-step ul#stylistSort li label input {
  display: none;
}
form#teamfilter #next-step label.specialty {
  color: #555;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.6rem;
  text-align: center;
  cursor: pointer;
}
form#teamfilter #next-step label.specialty input {
  visibility: hidden;
  display: inline;
  font-size: 1rem;
}
form#teamfilter #next-step label.specialty input:before {
  font-family: FontAwesome;
  content: '\f111';
  visibility: visible;
  color: #999;
  transition: all 0.25s ease-in-out;
}
form#teamfilter #next-step label.specialty input:checked:before {
  font-family: FontAwesome;
  content: '\f058';
  visibility: visible;
  color: #555;
}
form#teamfilter #last-step {
  position: relative;
  border-top: 1px solid #999;
  display: none;
}
form#teamfilter #last-step.on {
  display: block;
}
form#teamfilter #last-step .drop-experience {
  text-align: center;
  list-style: none;
  padding-top: 20px;
}
form#teamfilter #last-step .drop-experience li {
  display: inline-block;
  padding: 10px;
}
form#teamfilter #last-step .drop-experience li label {
  cursor: pointer;
  background-color: #999;
  border-radius: 5px;
  padding: 5px 7px;
  max-height: 30px;
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.6rem;
  transition: all 0.25s ease-in-out;
}
form#teamfilter #last-step .drop-experience li label.active, form#teamfilter #last-step .drop-experience li label:hover {
  color: #fff;
  background-color: #555;
}
form#teamfilter #last-step .drop-experience li label input {
  display: none;
}
#displayTeam {
  display: none;
}
h6#noitems {
  display: none;
}
h6#noitems.on {
  display: block;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
#theteam {
  margin-top: 50px;
  margin-bottom: 150px;
}
@media screen and (max-width: 63.9375em) {
  #theteam {
    margin-top: 80px;
  }
}
#theteam .team_member {
  margin-bottom: 30px;
}
#theteam .team_member .team_wrap {
  padding: 0;
}
#theteam .team_member .team_wrap .team_img {
  margin-bottom: 10px;
  width: 100%;
  max-height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#theteam .team_member .team_wrap .team_img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#theteam .team_member .team_wrap .team_info {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #555;
  padding: 10px 20px 10px 0;
}
#theteam .team_member .team_wrap .team_info span {
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 2px;
}
#theteam .team_member .team_wrap .team_info h4 {
  text-transform: uppercase;
  line-height: 1.7rem;
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 0;
}
#theteam .team_member .team_wrap .team_info h5 {
  color: #323232;
  font-size: 1rem;
  letter-spacing: normal;
}
@media screen and (max-width: 63.9375em) {
  #theteam .team_member .team_wrap .team_info h4 {
    font-size: 1rem;
    line-height: 1rem;
  }
  #theteam .team_member .team_wrap .team_info h5 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 39.9375em) {
  #theteam .team_member .team_wrap .team_info h4 {
    font-size: 1.2rem;
  }
}
#theteam .team_member .team_wrap .team_info span {
  text-transform: uppercase;
}


/*********************
MODEST LAYOUT
*********************/

#teampage-modest .team_member {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  clear: both;
}
#teampage-modest .team_member:last-child {
  border-bottom: none;
}
#teampage-modest .team_member .team_img {
  width: 200px;
  height: 250px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*********************
MODEST GRID LAYOUT
*********************/
#teampage-modest-grid {
  padding: 30px 0;
}
#teampage-modest-grid .team_member {
  padding-bottom: 20px;
}
#teampage-modest-grid .team_member:last-child {
  border-bottom: none;
}
#teampage-modest-grid .team_member h4 {
  margin-bottom: 0;
}
#teampage-modest-grid .team_member .team_img {
  width: 100%;
  max-width: 300px;
  height: 250px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*************************************
FANCYBOX LOADING ANIMATION OVERRIDE
*************************************/
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* !important overrides/fixes Foundation's keyframes.scss interference */
.fancybox-loading {
  -webkit-animation: rotating 2s linear infinite !important;
  -moz-animation: rotating 2s linear infinite !important;
  -ms-animation: rotating 2s linear infinite !important;
  -o-animation: rotating 2s linear infinite !important;
  animation: rotating 0.75s linear infinite !important;
}
